aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types==0.7.0
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dacite==1.8.1
dask
datasets==3.6.0
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill==0.3.8
distributed
distro
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozendict
frozenlist
fsspec
future
gensim
gitdb
GitPython
gmpy2
greenlet
h5py
HeapDict
holoviews
htmlmin==0.1.12
huggingface-hub==0.33.0
hvplot
hyperlink
idna
imagecodecs
ImageHash==4.3.1
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
msgpack
multidict
multimethod==1.12
multipledispatch
multiprocess==0.70.16
munkres==1.1.4
mypy
mypy-extensions
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
opencv-python==4.10.0.84
openpyxl==3.0.10
overrides
packaging
pandas==2.1.4
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pexpect
phik==0.12.4
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit
Protego
protobuf==3.20.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==20.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic==2.8.2
pydantic_core==2.20.1
pydeck
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests==2.32.4
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors==0.5.3
scikit-image
scikit-learn
scipy==1.11.4
Scrapy
seaborn
semver
Send2Trash
service-identity
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy==1.13.3
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.21.1
toml
tomlkit
toolz
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tornado
tqdm==4.67.1
traitlets
transformers==4.52.4
truststore
Twisted
twisted-iocpsupport
typeguard==4.3.0
typing_extensions==4.12.2
tzdata
tzlocal
uc-micro-py
ujson
Unidecode
urllib3
validators
visions==0.7.6
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wordcloud==1.9.3
wrapt
xarray
xgboost==2.1.4
xlwings
xxhash==3.5.0
xyzservices
yapf
yarl
ydata-profiling==4.9.0
zict
zipp
zope.interface
zstandard==0.19.0